<section id="login-container" class="content-form new-signup-non-customized">
  <div class="login-form agent-login-container">
    <div class="illustration-container">
      <img src="/images/portal/login-illustration.png" alt="Login">
    </div>
  </div>

  <div class="login-right-container">
    <div id="login-form">
      <h2 class="heading">Login</h2>
      <% render partial: 'user_session/login_form' %>
    </div>
    <div id="forgot-form" class="hide">
      <h2 class="heading">Forgot Password</h2>
      
    </div>
  </div>
</section>
