<div>
<%= link_to("create new project", new_project_path) %>
<div>Projects</div>
<ul>
<% @projects.each do |project| %>
  <li>
    <%= link_to(project.name, project_path(project), class: 'nav-link') %>
  </li>
<% end %>
</ul>
</div>