<div id="sticky_head">
    <nav class="page-tabs action-bar">
      
      <a id="menu-icon" class="ficon-reorder-0 show-in-mobile menu-trigger"></a>
      <a href="/support/home" class="help-center-tab show-in-mobile">Home</a>
      <div class="action-bar-wrapper">  
      <div class="nav-link" id="page-tabs">
          
            
              <a class="" href="/support/home">
                  Home 
              </a>
            
          
            
              <a class="" href="/support/solutions">
                  Solutions 
              </a>
            
          
      </div>
      </div>
      
        <div class="action-bar-wrapper">
        <div class="updated-dd-menu" id="new-ticket-button">
          
              <a href="/support/login" class="portal-signin uppercase">Sign in</a>
            
          
        </div>
        </div>
    </nav>
</div>
