<div id="sticky_head">
    <nav class="page-tabs action-bar">
      
      
      <div class="nav-link" id="page-tabs">
          
            
              <a class="" href="/">
                  Home 
              </a>
            
          
            
              <a class="" href="/accounts/new">
                  Account Signup
              </a>
            
          
      </div>
      </div>
      
        <div class="action-bar-wrapper">
        <div class="updated-dd-menu" id="new-ticket-button">
          
              <a href="/support/login" class="portal-signin uppercase">Sign in</a>
            
          
        </div>
        </div>
    </nav>
</div>
