<h1>Welcome to example.com, <%= @env_config.feature_flag.name %></h1>
  <p>
    You have successfully signed up to example.com,
    your username is: <%= @env_config.to_json %>.<br>
  </p>
  <p>Thanks for joining and have a great day!</p>
</body>
