/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 
 .container-fluid.page {
   padding: 0px;
 }

 .hide {
   display: none !important;
 }

 nav {
  .top_nav_bg {
    background: #12344D;
    position: fixed;
    width: 160px;
    display: block;
    height: 101%;
    z-index: 1000;
    margin-left: -16px;
   }
  .side-nav {
    position: relative;
    height: 100%;
    min-height: 615px;
  }
 }

 #body-container {
  margin: 10px 20px;
  .pagination {
    margin: 10px auto;
  }
 }
 .turbolinks-progress-bar {
  height: 3px;
  background-color: #206dd1;
}
